{% extends 'admin/layouts/base.html.twig' %}
{% block title %}Admin{% endblock %}
{% block body %}
    <div class="content container-fluid">
            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">Dashboard</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Home</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-chart">
                        <div class="card-header">
                            <h4 class="card-title">Dashboard</h4>
                        </div>
                        <div class="card-body" style="min-height: 50vh">
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}